extend ../layouts/common

block content
  h1 Create product

  form(action="/products/create", method="POST")
    lable Name
    input(type="text" name="name")

    button(class="btn btn-primary ml-2") Create